* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.clear-fix {
  padding-top: 80px;
}

.img-fluid {
  height: 400px !important;
  margin-left: 200px;
}

/* reset */
* {
  margin: 0;
  padding: 0;
}

label:focus {
  outline: none;
}

.menu {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background: #6b0909;
  width: 250px;
  height: 100%;
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}

.menu label.menu-toggle {
  position: absolute;
  right: -90px;
  width: 90px;
  height: 70px;
  line-height: 0px;
  display: block;
  padding: 0;
  text-indent: -9999px;
  background: white url(/img/menu-icon-2.svg) 50% 50%/25px 25px no-repeat;
}

.menu ul li > label {
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50%/16px 16px no-repeat;
}

.menu ul li a,
.menu ul li label {
  display: block;
  text-align: center;
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
  font-weight: bold;
  color: #f8f1f1;
}

.menu ul li a:hover,
.menu ul li label:hover {
  color: #666;
}

/* hide inputs */
.menu-checkbox {
  display: none;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
  background: none;
}

/* fade in checked menu */
.menu-checkbox:checked + .menu {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

p {
  margin-bottom: 15px;
}

#info {
  display: table;
  height: 750px;
  width: 100%;
}

#info #info-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

#info #info-content h1 {
  color: #fff;
  border-bottom: 6px solid #ce1d1d;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  font-size: 22px;
  font-weight: normal;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: 400px;
}

#info #info-content h1 strong {
  display: block;
  font-size: 26px;
}

.privacy-img {
  width: 100%;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}

.privacy-img img {
  background: center center / cover;
  width: 100%;
  height: auto;
  position: relative;
  background-size: cover;
}

.privacy-img .privacy-heading {
  margin-top: 100px;
  font-size: 60px;
}

.privacy-img .centered {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

.policy-heading {
  width: 100%;
  height: auto;
}

.policy-heading .heading-para {
  width: 50%;
  margin-left: 25%;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 24px;
}

p {
  width: 80%;
  margin-left: 10%;
  padding-bottom: 30px;
}

h3 {
  margin-left: 10%;
  font-weight: 600;
}

@media (min-width: 375px) {
  .privacy-heading {
    font-size: 28px;
    margin-top: -100px;
  }
}

.howtoplay {
  padding-top: 30px;
  height: auto;
  background-color: blanchedalmond;
  overflow: hidden;
}

.howtoplay .text-center {
  font-size: 24px;
  font-weight: bold;
}

.howtoplay p {
  font-size: 18px;
}

.howtoplay .play-image {
  height: 300px !important;
}

.howtoplay .text {
  padding-bottom: 100px;
}

@media (max-width: 425px) {
  .play-image {
    margin-left: -30px;
    margin-bottom: 50px;
  }
  h5 {
    margin-left: 50px;
  }
  p {
    margin-left: 80px;
  }
}

.terms {
  height: auto;
}

.terms h3 {
  margin-left: 40%;
  margin-top: 20px;
}

.terms p {
  font-size: 18px;
}

.pointing-system {
  height: 400px;
}

.pointing-img {
  width: 100%;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}

.pointing-img img {
  background: center center / cover;
  width: 100%;
  min-width: 120%;
  max-width: 150%;
  height: auto;
  position: relative;
  background-size: cover;
}

.pointing-img .pointing-heading {
  margin-top: 100px;
  font-size: 60px;
}

.pointing-img .centered {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

.pointing-heading {
  width: 100%;
  height: auto;
}

.pointing-heading .heading-para {
  width: 50%;
  margin-left: 25%;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 24px;
}

@media (max-width: 450px) {
  .terms p {
    font-size: 28px;
  }
}

@media (max-width: 450px) {
  .pointing-img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
  }
  .pointing-img img {
    background: center center / cover;
    width: 100%;
    height: auto;
    position: relative;
    background-size: cover;
  }
  .pointing-img .pointing-heading {
    margin-top: -100px;
    font-size: 18px;
  }
}

.pointing-system .image-info {
  width: 80%;
  margin-left: 15%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pointing-system .image-info .left {
  width: 100%;
}

.pointing-system .image-info .left img {
  margin-left: 10%;
  height: 200px;
  width: 200px;
}

.pointing-system .image-info .left p {
  width: 100%;
  margin-left: -20px;
}

.pointing-system .pointing-systems {
  width: 100%;
  height: 600px;
}

@media (max-width: 450px) {
  .image-info {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .image-info .left {
    height: auto;
    width: 100%;
  }
  .image-info img {
    height: 150px;
    width: 150px;
    padding-left: 50px;
  }
  .image-info p {
    padding-left: 44px;
  }
}

.fantasy-cricket {
  padding: 50px;
  height: auto;
  background-color: #9c2d2d;
}

.fantasy-cricket h3 {
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 40%;
  text-transform: uppercase;
}

.fantasy-cricket .acc-heading {
  color: black;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a a:hover {
  color: #444;
}

header {
  background: #740808;
  width: 100%;
  height: 76px;
  position: fixed;
  border-bottom: 4px solid #4C9CF1;
  z-index: 1;
}

nav {
  float: right;
  padding: 20px;
  margin-right: 40px;
}

a:hover#menu-icon {
  background-color: #444;
  color: #666;
  border-radius: 4px 4px 0 0;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  float: left;
  padding: 10px;
}

.current {
  color: white;
}

.current .current:hover {
  color: #666;
}

.footer-distributed {
  background-color: #292c2f;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: auto;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 45px;
  height: 40px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

details {
  width: 75%;
  min-height: 5px;
  max-width: 1100px;
  padding: 35px 60px 35px 35px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
}

.acc-heading {
  border-radius: 5px;
}

details + details {
  margin-top: 40px;
}

details[open] {
  min-height: 50px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

details p {
  padding: 20px;
  color: #96999d;
  font-weight: 300;
}

summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

summary:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px #f6f7f8, 0 0 0 5px white;
  box-shadow: 0 0 0 4px #f6f7f8, 0 0 0 5px white;
}

summary::-webkit-details-marker {
  display: none;
}

.control-icon {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  fill: #020202;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: initial;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

details[open] .control-icon-expand {
  display: none;
}

details[open] summary:hover::after {
  -webkit-animation: pulse 1s ease;
  animation: pulse 1s ease;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 450px) {
  details {
    width: 110%;
    min-height: 5px;
    max-width: 1100px;
    padding: 35px 60px 35px 35px;
    margin: 0 auto;
    position: relative;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 1.3s;
    transition: all 1.3s;
  }
  p {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-left: -20px;
    color: #ffffff;
    font-weight: 300;
  }
  summary {
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .acc-heading {
    color: white;
  }
  summary:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 4px #f6f7f8, 0 0 0 5px rebeccapurple;
    box-shadow: 0 0 0 4px #f6f7f8, 0 0 0 5px rebeccapurple;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  .fantasy-cricket {
    padding: 50px;
    height: auto;
    background-color: #9c2d2d;
  }
  .fantasy-cricket h3 {
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
    margin-left: 20%;
  }
}
