        .play {
            width: 100%;
            height: auto;
            background-color: aliceblue;
            h1 {
                padding-top: 50px;
                text-align: center;
            }
        }
        
        .privacy-img .terms {
            width: 100%;
            height: auto;
            margin-right: auto;
            margin-left: auto;
            img {
                background: o-repeat center center / cover;
                width: 100%;
                height: auto;
                padding-top: 0;
                margin-top: -5px;
                position: relative;
                background-size: cover;
            }
            .centered {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-weight: bold;
            }
        }
        
        .policy-heading {
            width: 100%;
            height: auto;
            .heading-para {
                width: 50%;
                margin-left: 25%;
                padding-top: 50px;
                padding-bottom: 50px;
                font-size: 24px;
            }
        }
        
        p {
            width: 80%;
            margin-left: 10%;
            padding-bottom: 30px;
        }
        
        h3 {
            margin-left: 10%;
            font-weight: 600;
        }
        
        @media (min-width:375px) {
            .privacy-heading {
                font-size: 28px;
                margin-top: -100px;
            }
        }
        
        .howtoplay {
            .play-image {
                height: 300px !important;
            }
        }
        
        @media (max-width:425px) {
            .play-image {
                margin-left: -30px;
                margin-bottom: 50px;
            }
            h5 {
                margin-left: 20px;
            }
            p {
                margin-left: 40px;
            }
        }